:root {
  --gainsboro: #d8dbe2;
  --pastel-blue: #a9bcd0;
  --crystal-blue: #58a4b0;
  --charcoal: #373f51;
  --eerie-black: #1b1b1e;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  background: var(--charcoal);
}
