html,
body {
  margin: 0;
  height: 100%;
}

#screen-center {
  height: 100%;
  width: 10px;
  background-color: #eee;
  position: absolute;
}

.split {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#split-1 {
  background-color: gray;
}

.split > div {
  height: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
